# Python & Virtual Environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.sqlite

# Alembic
alembic/env.py  # This file contains database connection details
alembic.ini

.idea
.ipynb_checkpoints
.mypy_cache
.vscode
.pytest_cache
htmlcov
dist
site
env3.*
docs_build
site_build
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

# Secrets
config.ini
secrets.json